body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #222;
}

header {
  background-color: #f7df1e;
  text-align: center;
  padding: 1.5em;
}

h1 {
  margin: 0;
}

main {
  padding: 1.5em;
  max-width: 800px;
  margin: auto;
}

ul.topics {
  list-style-type: none;
  padding: 0;
}

ul.topics li {
  margin: 0.5em 0;
}

ul.topics a {
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
}

ul.topics a:hover {
  text-decoration: underline;
}

pre {
  background-color: #eee;
  padding: 1em;
  border-radius: 5px;
  overflow-x: auto;
}

footer {
  background-color: #222;
  color: #f7df1e;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}

/* Easter Egg overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  background-image: url("images/creepypasta.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: none;
  z-index: 9999;
}

#easter-egg {
  display: block;
  margin: 2em auto;
  padding: 1em 2em;
  background-color: #f7df1e;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

#easter-egg:hover {
  background-color: #ffe34d;
}
