<h1>John Kim | ITIS3135 | Home</h1>

<nav>
    <a href="index.html">Home</a> || 
    <a href="ITIS3135/introduction.html">Introduction</a> || 
    <a href="ITIS3135/contract.html">Contract</a> ||
    <a href="https://itis3135-react-silk.vercel.app/">React3</a> ||
    <a href="stuff/ROCK&YOU.htm">Crappy Webpage Assignment</a> ||
    <a href="hobby/index.html">Hobby Webpage Assignment</a> ||
    <a href="intro_form.html">Intro Form</a> ||
    <a href="fccfsjs_outline.html">FCC Full Stack JS Outline</a> ||
    <a href="project/index.html">JavaScript Learning Site Project</a>
</nav>
